@model EditSageViewModel

@{
    ViewData["Title"] = "Edit";
    string image = string.Empty;

    if (Model.Sage.Photo is null)
    {
        image = "/images/default.png";
    }
    else
    {
        //Store photo as base64 string
        var imgBase64 = Convert.ToBase64String(Model.Sage.Photo);
        image = "data:image/png;base64," + imgBase64;
    }
}

<h1>Edit</h1>
<h4>Sage</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sage.Name" class="control-label"></label>
                <input asp-for="Sage.Name" class="form-control" />
                <span asp-validation-for="Sage.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sage.Age" class="control-label"></label>
                <input asp-for="Sage.Age" class="form-control" />
                <span asp-validation-for="Sage.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sage.City" class="control-label"></label>
                <input asp-for="Sage.City" class="form-control" />
                <span asp-validation-for="Sage.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sage.Books" class="control-label"></label>
                @Html.ListBoxFor(m => m.SelectedBookIds, Model.BooksSelectedList, new { @class = "form-control" })
                <span asp-validation-for="Sage.Books" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sage.Photo" class="control-label"></label>
                <br/>
                <img src="@image" width="300" height="300"/>
                <input type="file" name="Photo" />
            </div>
            <input type="hidden" asp-for="Sage.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top: 10px" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
